.products {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);
    height: calc(100vh - 60px)
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 240px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px -2px #0000000A;
    box-shadow: 0px 2px 15px -3px #00000012;
    background: #FFFFFF;
    margin-top: 20px;
    height: fit-content;
}

.wrap img {
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

.title, .price, .button {
    font-family: Roboto, sans-serif;
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin: 24px 0 8px;
}

.price {
    font-size: 16px;
    font-weight: 400;
}

.button {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 4px 9px -4px #3B71CA;
    background: #3B71CA;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    width: 128px;
    height: 36px;
    margin: 15px 0 24px;
    transition: ease-out 0.3s;
}

.button:hover{
    transition: ease-out 0.3s;
    background-color: #2e589d;
}

@media screen and (min-width: 100px) and (max-width: 390px) {
    .products{
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .wrap {
        margin-bottom: 20px;
    }
}

